<div class="w-full px-2 md:px-16 lg:px-32 pt-8 md:pt-12 lg:pt-16">
  <h1 class="font-bold text-md md:text-2xl lg:text-5xl text-midnight mb-10">Editing article</h1>
  <%= render "form", article: @article %>
</div>
