<%= render "articles/search" %>
<div class="w-full px-2 md:px-16 lg:px-32 pt-8 md:pt-12 lg:pt-16">
  <div id="articles" class="w-full">
    <%= render "articles", articles: @articles %>
  </div>
</div>
